<a href="https://colab.research.google.com/github/MateusBrasileiroNato/data_science/blob/main/Rent_Data_Analysis_(Pandas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Report Analysis I

In [ ]:
import pandas as pd

dados = pd.read_csv('aluguel.csv', sep = ';')
dados

In [ ]:
# Shows all information about the database file

dados.info()

In [ ]:
dados.head(10)

In [ ]:
data_type = pd.DataFrame(dados.dtypes, columns = ['Data Type'])
data_type.columns.name = 'Variables'
data_type

In [ ]:
dados.shape[0]
dados.shape[1]

print('The database presents {} properties registrations and {} variables'.format(dados.shape[0], dados.shape[1]))

# Report Analysis II

In [ ]:
import pandas as pd

dados = pd.read_csv('aluguel.csv', sep = ';')
dados.head(10)

In [ ]:
# Shows the unique types of properties

property_type = dados['Tipo']
property_type.drop_duplicates(inplace = True)
property_type = pd.DataFrame(property_type)
property_type

In [ ]:
# Shows the amount of indexes in database

for i in range(property_type.shape[0]):
    print(i)

In [ ]:
# Organizes and renames the "Id" column in unique types

property_type.index = range(property_type.shape[0])
property_type.columns.name = 'Id'
property_type

# Report Analysis III

In [ ]:
import pandas as pd

dados = pd.read_csv('aluguel.csv', sep = ';')
dados.head(10)

In [ ]:
list(dados['Tipo'].drop_duplicates())

In [ ]:
# Verification

residential = ['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa de Vila']

selection = dados['Tipo'].isin(residential)
selection

In [ ]:
# Shows unique residential property types

dados_residential = dados[selection]
list(dados_residential['Tipo'].drop_duplicates())

In [ ]:
dados_residential.shape[0]

In [ ]:
dados.shape[0]

In [ ]:
# Shows a table of residential properties only

dados_residential.index = range(dados_residential.shape[0])
dados_residential

In [ ]:
# Exports residential rents to a "cvs" file

dados_residential.to_csv('residential_rent.csv', sep = ';')

# Report Analysis IV

In [ ]:
import pandas as pd

dados = pd.read_csv('residential_rent.csv', sep = ';')
dados

In [ ]:
# Selects only apartments

selection = dados['Tipo'] == 'Apartamento'
n1 = dados[selection].shape[0]
n1

In [ ]:
# Selects only "house type" properties 

selection = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
n2 = dados[selection].shape[0]
n2

In [ ]:
# 60 <= Area <= 100

selection = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selection].shape[0]
n3

In [ ]:
# >= 4 Rooms and rent <= R$ 2.000,00

selection = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[selection].shape[0]
n4

In [ ]:
print(f'''
Apartments: {n1}
Houses: {n2}
60 <= Area <= 100: {n3}
>= 4 Rooms and rent <= R$ 2.000,00: {n4}
''')

# Report Analysis V

In [ ]:
import pandas as pd

dados = pd.read_csv('residential_rent.csv', sep = ';')

In [ ]:
# Drops "null" rent values 

A = dados.shape[0]
dados.dropna(subset = ['Valor'], inplace = True)
B = dados.shape[0]
A - B

9

In [ ]:
# Selects "null" condominium values

selection = (dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull())

In [ ]:
# Drops "null" condominium values as "~"" inverts Boolean

A = dados.shape[0]
dados = dados[~selection]
B = dados.shape[0]
A - B

In [ ]:
# Turns condominium and IPTU taxes to 0

dados = dados.fillna({'Condominio': 0, 'IPTU': 0})
dados[dados['Condominio'].isnull()].shape[0]
dados[dados['IPTU'].isnull()].shape[0]

dados.info()

In [ ]:
dados_residential.to_csv('residential_rent.csv', sep = ';', index = False)

# Report Analysis VI

In [ ]:
import pandas as pd

dados = pd.read_csv('residential_rent.csv', sep = ';')

In [ ]:
# Creates total value 

dados['Valor Bruto'] = dados['Valor'] + dados['Condominio'] + dados['IPTU']
dados.head(10)

In [ ]:
# Creates value per m2

dados['Valor m2'] = (dados['Valor'] / dados['Area']).round(2) # rounds to 2 decimal

dados.head(10)

In [ ]:
# Creates total value per m2

dados['Valor Bruto m2'] = (dados['Valor Bruto'] / dados['Area']).round(2) # rounds to 2 decimal

dados.head(10)

In [ ]:
# Lambda sets as "Casa" at column "Tipo Agregado" where "x" is in variable "casa" at column "Tipo"

casa = ['Casa', 'Casa de Condominio', 'Casa de Vila']
dados['Tipo Agregado'] = dados['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Apartamento')

dados.head(10)

In [ ]:
# Creates table with "dados_aux" columns only

dados_aux = pd.DataFrame(dados[['Tipo Agregado', 'Valor m2', 'Valor Bruto', 'Valor Bruto m2']])

dados_aux.head(10)

In [ ]:
del dados_aux['Valor Bruto']

dados_aux.head(10)

In [ ]:
dados_aux.pop('Valor Bruto m2')

dados_aux.head(10)

In [ ]:
# Deletes columns "Valor Bruto" and "Valor Bruto m2"

dados.drop(['Valor Bruto', 'Valor Bruto m2'], axis = 1, inplace = True)

dados.head(10)

In [49]:
dados.to_csv('residential_rent.csv', sep = ';', index = False)

# Report Analysis VII

In [50]:
import pandas as pd

dados = pd.read_csv('residential_rent.csv', sep = ';')

In [ ]:
dados['Valor'].mean()

In [52]:
# Selects unique districts

bairros = ['Barra da Tijuca', 'Copacabana', 'Ipanema', 'Leblon', 'Botafogo', 'Flamengo', 'Tijuca']
selection = dados['Bairro'].isin(bairros)
dados = dados[selection]

In [53]:
# Group districts

group_bairro = dados.groupby('Bairro')

In [ ]:
# Shows mean values by districts

group_bairro['Valor'].mean().round(2)

In [ ]:
# Describes a set of statistics information about values

group_bairro['Valor'].describe().round(2)

In [ ]:
# Improving describing visualization

group_bairro['Valor'].aggregate(['min', 'max']).rename(columns = {'min': 'Mínimo', 'max': 'Máximo'})

# Report Analysis VIII

In [78]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.rc('figure', figsize = (20, 10))

dados = pd.read_csv('residential_rent.csv', sep = ';')

In [ ]:
# Plots

fig = group_bairro['Valor'].mean().plot.bar(color = 'blue')
fig.set_ylabel('Valor do Aluguel')
fig.set_title('Valor Médio do Aluguel por Bairro', {'fontsize': 22})

In [ ]:
# Removing outliers

dados.boxplot(['Valor'])

In [ ]:
# Filters values above R$ 500.000,00

dados[dados['Valor'] >= 500000]

In [82]:
# Calculates quartiles

valor = dados['Valor']

Q1 = valor.quantile(.25)
Q3 = valor.quantile(.75)
IIQ = Q3 - Q1
inferior_limit = Q1 - 1.5 * IIQ
superior_limit = Q1 + 1.5 * IIQ

In [83]:
# Creates new database between limits

selection = (valor >= inferior_limit) & (valor <= superior_limit)
dados_new = dados[selection]

In [ ]:
dados_new.boxplot(['Valor'])

In [ ]:
# Comparison before and after

dados.hist(['Valor'])
dados_new.hist(['Valor'])

In [ ]:
# Boxplot by property type

dados.boxplot(['Valor'], by = ['Tipo'])

In [89]:
group_type = dados.groupby('Tipo')['Valor']

Q1 = group_type.quantile(.25)
Q3 = group_type.quantile(.75)
IIQ = Q3 - Q1
inferior_limit = Q1 - 1.5 * IIQ
superior_limit = Q1 + 1.5 * IIQ

In [94]:
# Filters and concats by type and value

dados_new = pd.DataFrame()

for t in group_type.groups.keys():
    eh_type = dados['Tipo'] == t
    eh_in_limit = (dados['Valor'] >= inferior_limit[t]) & (dados['Valor'] <= superior_limit[t])
    selection = eh_type & eh_in_limit
    dados_selection = dados[selection]
    dados_new = pd.concat([dados_new, dados_selection])

In [ ]:
dados_new.boxplot(['Valor'], by = ['Tipo'])

In [96]:
dados_new.to_csv('residential_rent_no_outliers.csv', sep = ';', index = False)